table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    color: darkgreen;
}

.restore-button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.restore-button:hover {
    background-color: #45a049;
}

.comment-summary {
    font-weight: bold;
}

.story-title {
    font-weight: bold;
}

.deleted-username {
    font-weight: bold;
}
.error-message {
    color: red;
    text-align: center;
  }