/* Styling the login form container */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Styling the form itself */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Equal width for form inputs */
form input[type="text"],
form input[type="password"] {
    width: 300px;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

/* Equal padding for form inputs */
form input[type="text"],
form input[type="password"],
form textarea {
    padding: 10px;
    margin-bottom: 17px;
    background-color: #444;
    color: rgb(232, 230, 227);
    border: none;
    border-radius: 5px;
}

/* Style the submit button */
form input[type="submit"] {
    width: 300px;
    padding: 10px;
    background-color: rgb(30, 222, 162);
    color: #011d05;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 11px;
    display: block;
    align-self: center;
}

/* Styles for error messages */
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}

